.certificate-section {
  
  .certificate {
    .main-corosel {
      padding: 3em 0;
      justify-content: center;
      #certificate-slider{
          .main-corosel-certifacate{
              margin-right: 20px;
              img{
                  width: 100%;
              }
          }
      }
    }
  }
}
