.product-section {
  padding: 10vh 0;

  .products {
    .row {
      .pro-left {
       
        .pro-details{
            margin: 20px 0;
            color: $primary-color;
            h5{
                font-size: 1.5em;
                span:last-child{
                    color: $s-color;
                }
            }
            p{
                font-size: 1.2em;
            }
        }
      }

      .pro-right{
          .pro-img-list{
              
              .pro-img{
                  margin-right: 20px;
                  margin-top: 20px;
                  border: 3px solid $primary-color;
                  padding: 2em 1em;
                  flex-wrap: wrap;
                  border-radius: 10px;
                  p{
                    color: $primary-color;
                    font-weight: 800;
                    text-transform: uppercase;
                    font-size: 1.2em;
                    span{
                      font-size: 1em;
                    }
                  }
                  
                  img{
                      height: 100px;
                  }
              }
              .pro-img:first-child{
                box-shadow: -5px 5px 10px $primary-color;
              }
          }
      }

    }
  }
}

.pro-head {
  h1 {
    color: $primary-color;
  }
  .dot {
    background-color: $s-color;
    height: 5px;
    width: 25%;
    border-radius: 20px;
  }
}