@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


$primary-color:#0d44aafd;
$s-color:#E44236;
$bg-color1:#ebf1f7;
html,body{
    overflow-x: hidden;
}

.btn-btn{
    margin: 20px 0;
    background: $primary-color;
    letter-spacing: .1em;
};

@import './nav';
@import './hero';
@import './product';
@import './safety';
@import './clients';
@import './certificates';
@import './corosel';
@import './partner';
@import './footer';